<% content_for :"head" do %>
<title>Calificación de estacionamiento</title>
<% end %>



<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">




<p id="notice"><%= notice %></p>
<body>
<div class="container">
  <h2>Comentarios</h2>

<table class="table">

  <thead>
    <tr>
      <th> Usuario </th>
      <th> Estacionamiento </th>
      <th> Comentario </th>
      <th> Calificacion </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.usuario %></td>
        <td><%= comentario.estacionamiento %></td>
        <td><%= comentario.comentario %></td>
        <td><%= comentario.calificacion %></td>
        <td><%= link_to ' Ver ', comentario %></td>
        <td><%= link_to ' Editar ', edit_comentario_path(comentario) %></td>
        <td><%= link_to ' Eliminar ', comentario, method: :delete, data: { confirm: 'desea eliminar el comentario?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>

<br>

<center><%= link_to 'Nuevo Comentario', new_comentario_path %></center>
