<!DOCTYPE html>
<html>
    <head>
        <%= yield :head %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <style>
        body {
            background-image: image_url('cityscape.jpg');
        }
    </style>

    <body>
        <%= render partial: 'layouts/menu' %>
        <%= yield %>
    </body>
</html>
