<!DOCTYPE html>
<html>
    <head>
        <%= yield :head %>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <% if current_user %>
        <% if current_user.Co_TipoUsuario == "1" %>
        <%= render partial: 'layouts/menuprofileuser' %>
        <% else %>
        <%= render partial: 'layouts/menuprofileprop' %>
        <% end %>
        <% else %>
        <%= render partial: 'layouts/menu' %>
        <% end %>
        <%= yield %>

    </body>
</html>
