<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registro de Publicidades</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">

<h1>Registro de Publicidades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Tarifa</th>
      <th>Ubicacion</th>
      <th>Id_usuario</th>
      <th>Tipo de usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publicidads.each do |publicidad| %>
      <tr>
        <td><%= publicidad.Titulo %></td>
        <td><%= publicidad.Contenido %></td>
        <td><%= publicidad.Fecha_de_Inicio %></td>
        <td><%= publicidad.Fecha_de_Fin %></td>
        <td><%= publicidad.Tarifa %></td>
        <td><%= publicidad.Ubicacion %></td>
        <td>%= publicidad.Id_usuario</td>
        <td>%= publicidad.Tipo_de_usuario</td>

        <td><%= link_to 'Ver', publicidad %></td>
        <td><%= link_to 'Editar', edit_publicidad_path(publicidad) %></td>
        <td><%= link_to 'Eliminar', publicidad, method: :delete, data: { confirm: 'Desea eliminar el Registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

    </body>
</html>


<br>

<%= link_to 'Ingresar Nueva Publicidad', new_publicidad_path %>
