<head>
  <style>
    body { background-color: #81BEF7; }
  </style>
</head>
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <div class="col-sm-2">
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Busca tu estacionamiento" name="" >
                    
                    <button class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="navbar navbar-default visible-xs">
    <div class="container-fluid">
        <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
            <i class="fa fa-tasks"></i> Toggle Sidebar
        </button>
    </div>
</div>

<div class="container-fluid">
    <!-- filter sidebar -->

    <div class="col-sm-2">
        <h4>Filtros</h4>

        <div class="panel panel-default">
            <div class="panel-heading">Rango de precios</div>
            <div class="panel-body">
                <input class="form-control" placeholder="Desde (S/)">
                <br>
                <input class="form-control"  placeholder="Hasta (S/)">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Tipo de estacionamiento</label>
            <div class="col-sm-12">
                <select type="text" placeholder="Document" class="form-control">
                    <option value="dni">Interno</option>
                    <option value="ruc">Externo</option>
                    <option value="ruc">Aire libre</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Departamento</label>
            <div class="col-sm-12">
                <select type="text" placeholder="Document" class="form-control">
                    <option value="dni">Lima</option>
                    <option value="ruc">Arequipa</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Provincia</label>
            <div class="col-sm-12">
                <select type="text" placeholder="Document" class="form-control">
                    <option value="1501">Lima</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-8">Distrito</label>
            <div class="col-sm-12">
                <select type="text" placeholder="Document" class="form-control">
                    <option value="150101">Lima</option>
                </select>
            </div>
        </div> 

        <div class="form-group pull-right">
            <div class="stars" >
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
            </div>
        </div>

        <div class="form-group col-sm-12">
            <button class="btn btn-primary btn-block">Aplicar filtro</button>
        </div>              
    </div>

    <!-- table container -->

    <div class="col-sm-10">
        <hr class="invisible"> 
        <div class="row">
            <div class="col-md-2">
                <a href=<%= parks_find_map_path %>>
                    <button type="submit" class="btn btn-success btn-block">Mapa</button>
                </a>
            </div>
        </div>
        <hr>
        <% @estacionamientos.each do |estaciona| %>
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <%= image_tag('demo.jpg' , :class => "img-rounded" , :size => "120x120") %>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <%= link_to estaciona.no_descriptivo, :action => :rent, :id => estaciona.id %>
                </h4>
                <h5>S/ <%= estaciona.nu_precioporhora %></h5>
                <p class="card-text">Dirección: <%= estaciona.no_direccion %></p>
            </div>
        </div>
        <hr>   
        <% end %>
    </div>

</div>